<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>税务信息</title>
</head>
<body>
    <form action="/search-post" method="post">
        {% csrf_token %}
        <input type="text" name="BatchID">
        <input type="text" name="BatchYear">
        <input type="text" name="BatchMonth">
        <input type="text" name="CompanyID">
        <input type="text" name="CustomerID">
        <input type="text" name="TaxId">
        <input type="text" name="TaxPwd">
        <input type="submit" value="Submit">
    </form>

    <p>{{ rlt }}</p>
</body>
</html>